{% extends "base.html" %}

{% block content %}
<table>
    <tr valign = "center">
        <td>
            <img src="{{ user.avatar(128) }}">
        </td>
        <td>
            <h1>{{ user.username }}</h1>
            {% if user.about_me %}
            <p>
                About: {{ user.about_me }}
            </p>
            {% endif %}
            {% if user.last_seen %}
            <p>
                Last Seen: {{ user.last_seen }}
            </p>
            {% endif %}
            {% if user == current_user %}
            <p>
                <a href="{{ url_for('editProfile') }}">Edit Profile</a>
            </p>
            {% elif not current_user.isFollowing(user) %}
            <p>
                <a href="{{ url_for('follow', username = user.username) }}">Follow</a>
            </p>
            {% else %}
            <p>
                <a href="{{ url_for('unfollow', username = user.username) }}">Unfollow</a>
            </p>
            {% endif %}
        </td>
    </tr>
</table>
<hr>
{% for post in posts %}
    {% include "_post.html" %}
{% endfor %}
{% endblock %}